* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}
header {
    background-image: url("../img/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;   
}
#main-h3 {
    font-weight: lighter;
    font-size: 27.3px;
}
#main-title {
    color: #FFC32D;
    font-weight: bold;
}
h1 {
    font-weight: lighter;
    font-size: 42px;
}
h2 {
    font-weight: bold;
}
h3 {
    font-weight: bolder;
    font-size: 22px;
}
h5 {
    font-weight: bolder;
}
.video-placeholder__logo {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.video-placeholder__logo img {
    text-align: center;
    margin: 0 auto;
}   
.img-mobile {
    height: 100%;
    max-width: 100%;
}
.title h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: white;
}
.main {
    padding-top: 8rem;
}
.main-title {
    color: #FFC32D;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}
#sort-down { 
   padding-top: 5rem; 
   height: 12px;
   width: 21px;
   font-size: 40px;
}
section {
    padding: 4rem 0 5rem;
    overflow: hidden;
}
.section-looking , .section-solution  {
    background-color: #FFC32D;
    margin: 0 0 1rem;
}
#icon-row {
    font-size: 5rem;
    padding: 1.2rem;
}
#text-white {
    font-weight: bold;
    font-size: 44px;
    color: white;
}
#strong {
font-weight: bold;
 font-size: 44px;
 color: #FFC32D;
}

#icon-participate {
    padding-right: 10px;
    font-size: 20px;
}
.participate div p 
{
    margin-bottom: 0;
    padding: 0;
}
.p-participate {
    margin-left: 1.5rem;
    border: none;
}
#col-participate {
    padding: 1.4rem !important
}

.section-together {
    background-color:#D8D8D8;
}
.p18 {
    font-size: 18px;
    font-weight: lighter;
}
.h5ligth {
    font-weight: 500;
    font-size: 14px;
}
.p14 {
    font-weight: 300;
    font-size: 14px;
}

.section__triangl-line .section__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
}
img {
    width: 100%;
    height: 100%;
}
.overview {
    background-color: #E8EBF0;

}
#overview-col {
    background-color: #FFC300;
}
#thinking {
    
    margin:0 0 1.5rem 0;
    padding: 0;
}
#from {
    color: #FFC32D;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#overview-col
{
    margin: auto;
}

.how-it-works__items > * {
    margin-bottom: 30px;
}
.how-it-works__title + .how-it-works__line-mobile {
    position: relative;
    padding-left: 32px;
}
.how-it-works__date-title {
    font-size: 20px;
    margin-bottom: 6px;
}
.how-it-works__text {
    position: relative;
    padding: 15px 14px;
}

.how-it-works__title {
    line-height: 24px;
    font-size: 21px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 34px;
}
.how-it-works__title + .how-it-works__line-mobile:after {
    content: "";
    position: absolute;
    left: 15px;
    height: 100%;
    width: 8px;
}
h6 {
    text-transform: uppercase;
    margin-top: 1rem;
}
.how-it-works__title.black + .how-it-works__line-mobile:after {
    background: black;
}

.how-it-works__title.yellow + .how-it-works__line-mobile:after {
    background: #FFC32D;
}   
.how-it-works__title.yellow, .h6yellow, .how-it-works__date-title, h4, .yellowh2, .yellowh6 {
    color:#FFC32D;
}
.circulo {
    box-sizing: border-box;
    height: 105px;
    width: 100px;
    border: 2.4px solid #FFC32D;
    border-radius: 100px;
}
.circulo , h2 {
    font-weight: bold;
    color: #FFC32D;
}
.fechas {
font-size: 2rem;
margin: 1.5rem;
}

@media (min-width: 575.98px) {
    #studentborder, #entrepreneursborder, #smesborder {
        border-right: 4px solid #dee2e6!important;
    }
}
